.header {
    height: 1400px;
    width: 800px;
    background: aqua;
}

html,
body,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Lucida Grande";
}

a {
    text-decoration: none;
}


/*Header*/

header {
    height: 65px;
    width: 100%;
    background-color: rgba(34, 49, 52, 0.9);
    position: fixed;
    top: 0;
    z-index: 10;
}

.logo {
    width: 124px;
    margin-top: 40px;
}

.header-left h1 {
    width: 120px;
    margin-top: 10px;
    margin-left: 10px;
    color: aqua;
}

.fakeimg {
    height: 150px;
    background: #aaa;
}

body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
}

p {
    font-size: 16px;
}

.bg-4 {
    background-color: #2f2f2f;
    color: #fff;
}

.container-fluidi {
    padding-top: 40px;
    padding-bottom: 70px;
}


/*Body*/

.top-wrapper {
    padding: 180px 0 100px 0;
    background-image: url(img/back.jpg);
    background-size: cover;
    color: white;
    text-align: center;
    height: 200px;
}

.top-wrapper h1 {
    opacity: 0.7;
    font-size: 45px;
    letter-spacing: 5px;
    margin-bottom: 10px;
}

.top-wrapper p {
    opacity: 0.7;
    margin-bottom: 3px;
}

.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}


/*Extra 1*/

.values__content {
    display: flex;
}


/*Footer*/

.footer {
    width: 100%;
    position: relative;
    height: auto;
    background-color: #070617;
}

.footer .col {
    width: 190px;
    height: auto;
    float: left;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0px 20px 20px 20px;
}

.footer .col h1 {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: 12px;
    line-height: 17px;
    padding: 20px 0px 5px 0px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.250em;
}

.footer .col ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}